.hero {
  width: 100%;
  margin: 0 auto;
  background: rgb(237, 248, 247);
  background: linear-gradient(
    180deg,
    rgba(237, 248, 247, 1) 74%,
    rgba(255, 255, 255, 1) 100%
  );
  padding-top: 48px;
}

.hero-flex {
  max-width: 1163px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 100%;
  padding: 0 20px;
}

.picture {
  width: 110%;
  margin-left: 51px;
  padding-top: 100px;
}

.left h2 {
  padding-top: 184.76px;
  font-size: 3rem;
  line-height: 4rem;
  color: #000000;
  font-weight: 700;
  width: 100%;
}

.btn {
  width: 167px;
  height: 54px;
  margin-top: 36px;
}

.btn button {
  background-color: var(--text-color);
  font-size: 1.25rem;
  line-height: 1.875rem;
  color: var(--mid);
  border-radius: 3px;
  border: none;
  padding: 12px 24px;
  width: 100%;
  cursor: pointer;
}

.btn button:hover {
  color: var(--text);
}

@media screen and (max-width: 1380px) {
  .picture {
    width: 80%;
  }

  .left h2 {
    font-size: 2rem;
    line-height: 3rem;
  }

  .btn button {
    width: 80%;
    font-size: 1rem;
  }
}

@media screen and (max-width: 960px) {
  .hero-flex {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    margin-top: -100px;
  }
  .left h2 {
    font-size: 1.75rem;
    line-height: 2.5rem;
  }
}

@media screen and (max-width: 490px) {
  .left h2 {
    font-size: 1.25rem;
    line-height: 2rem;
  }

  .btn button {
    width: 65%;
    font-size: 0.75rem;
  }
}

@media screen and (max-width: 350px) {
  .left h2 {
    text-align: center;
  }
}
