.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

h3 {
  font-size: 2.5rem;
  line-height: 3.3125rem;
  letter-spacing: -0.15px;
  font-weight: 700;
}

@media screen and (max-width: 690px) {
  h3 {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}

@media screen and (max-width: 450px) {
  h3 {
    font-size: 1.35rem;
    line-height: 2rem;
  }
}

@media screen and (max-width: 400px) {
  h3 {
    font-size: 1.25rem;
  }
}
